<div class="footer">
    <div class="container-fluid padding">
        <div class="row text-center bg-dark text-white">
            <div class="col-md-4">
                <hr class="light">
                <h2>Robco</h2>
                <p>555-555-5555</p>
                <p>robcotechbase@gmail.com</p>
                <p>100 Street Name</p>
                <p>Rochester Hills, MI, 48309</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Never Closed</p>
                <p>Please Call us</p>
            </div>
            <div class="col-md-4">
                    <hr class="light">
                    <h5>Created By</h5>
                    <hr class="light">
                    <p>Henna Ghayas</p>
                    <p>Tanner Porteous</p>
                    <p>David Michon</p>
                    <p>Marcel Jonas</p>
                    <p>Rawshan Arif</p>
                </div>
        </div>

    </div>
</div>
