<div class="container-fluid padding">
        <div class="row padding">
<div class="hipster">
        <div>
            <div class="inner">
               
                    <h1>Welcome to Robco</h1>
                    
                </div>
    
            </div>
        </div>
    </div>
</div>
        <div class="container-fluid padding">
        <div class="row">
           
    
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success col success text-center" *ngSwitchCase="true">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                        [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
                </div>
    
                <div class="alert alert-light col sign text-center" *ngSwitchCase="false">
                    <a  class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a> </div>
                <div class="alert alert-light col reg text-center" *ngSwitchCase="false">
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
    
          
           
        </div>
        </div>
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="mt-4 col-12">
                    <h1 class="display-4">Meet the Team</h1>
                </div>
            </div>
        </div>

</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="mt-4 col-md-4">
          <div class="card">
             <div class="card-top bg-primary text-white">
                 <h4 class="card-title text-center">Henna Ghayas</h4>
                <div class="card-body">
                    <p class="card-text">Computer Science Major at Oakland University. Have been in school 
                        so long that she is just ready to be done.
                    </p>
                </div>
                </div> 
          </div>  
        </div>
        <div class="mt-4 col-md-4">
                <div class="card">
                   <div class="card-top bg-success">
                       <h4 class="card-title text-center">Tanner Porteous</h4>
                      <div class="card-body">
                          <p class="card-text">
                          </p>
                      </div>
                      </div> 
                </div>  
              </div>
              <div class="mt-4 col-md-4">
                    <div class="card">
                       <div class="card-top bg-danger">
                           <h4 class="card-title text-center">David Michon</h4>
                          <div class="card-body">
                              <p class="card-text">I.T. Major at Oakland University who can't seem to settle on a major!
                                  Maybe this will be the year I finally graduate!
                              </p>
                          </div>
                          </div> 
                    </div>  
                  </div>
                  <div class="mt-4 col-md-4">
                        <div class="card">
                           <div class="card-top bg-warning">
                               <h4 class="card-title text-center">Marcel Jonas</h4>
                              <div class="card-body">
                                  <p class="card-text">
                                  </p>
                              </div>
                              </div> 
                        </div>  
                      </div>
                      <div class="mt-4 col-md-4">
                            <div class="card">
                               <div class="card-top bg-info">
                                   <h4 class="card-title text-center">Rawshan Arif</h4>
                                  <div class="card-body">
                                      <p class="card-text">
                                      </p>
                                  </div>
                                  </div> 
                            </div>  
                          </div>
    </div>
</div>
