<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="devices">
            <h2><span jhiTranslate="robcoApp.devices.detail.title">Devices</span> {{devices.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="robcoApp.devices.name">Name</span></dt>
                <dd>
                    <span>{{devices.name}}</span>
                </dd>
                <dt><span jhiTranslate="robcoApp.devices.model">Model</span></dt>
                <dd>
                    <span>{{devices.model}}</span>
                </dd>
                <dt><span jhiTranslate="robcoApp.devices.registered">Registered</span></dt>
                <dd>
                    <span>{{devices.registered}}</span>
                </dd>
                <dt><span jhiTranslate="robcoApp.devices.availability">Availability</span></dt>
                <dd>
                    <span>{{devices.availability}}</span>
                </dd>
                <dt><span jhiTranslate="robcoApp.devices.type">Type</span></dt>
                <dd>
                    <span>{{devices.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/devices', devices.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
